{%  extends "layout.html.twig" %}
{%  block content_header %}
    <div class="masthead-subheading">Bienvenue sur le site des choses à faire..</div>
    <div class="masthead-heading text-uppercase">.. avant de mourir !</div>
    <a class="btn btn-primary btn-xl text-uppercase display-6" id="btn-list" href="{{ url('app_list') }}">THE liste</a>
{% endblock %}
{%  block main %}
    <div class="description-idee">
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate.
                    Voluptatum ducimus voluptates voluptas?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate.
                    Voluptatum ducimus voluptates voluptas?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate.
                    Voluptatum ducimus voluptates voluptas?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate.
                    Voluptatum ducimus voluptates voluptas?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate.
                    Voluptatum ducimus voluptates voluptas?</p>
            </blockquote>
        </figure>
    </div>
{% endblock %}