{%  extends "layout.html.twig" %}

{%  block main %}

        <div>
            <table>
                <tr>
                    <th>Titre</th>
                </tr>
                {% for idea in ideas %}
                    <tr>
                        <td> <a href="{{ path('app_detail',{id:idea.id })}}">{{ idea.title }}</a> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>



{% endblock %}
